/* public/css/styles.css */

/* GmarketSansMedium 폰트 정의 */
@font-face {
    font-family: "GmarketSansMedium";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* GmarketSansBold 폰트 정의 */
@font-face {
    font-family: "GmarketSansBold";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Paperlogy 폰트 정의 */
@font-face {
    font-family: 'Paperlogy-7Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy-5Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

/* 폰트 적용을 위한 커스텀 클래스 */
.custom-input,
.custom-textarea {
    border: 2px solid #34d399; /* Tailwind's green-500 */
    border-radius: 0.5rem; /* Tailwind's rounded-md */
    padding: 0.5rem 1rem; /* Tailwind's px-4 py-2 */
    transition: border-color 0.3s ease;
    font-size: 1rem; /* 폰트 크기 조절 */
}

.custom-input:focus,
.custom-textarea:focus {
    border-color: #10b981; /* Tailwind's green-600 */
    outline: none;
}

.custom-button {
    background-color: #10b981; /* Tailwind's green-600 */
    color: #ffffff; /* 흰색 텍스트 */
    padding: 0.5rem 1rem; /* Tailwind's px-4 py-2 */
    border-radius: 0.5rem; /* Tailwind's rounded-md */
    transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease;
    font-family: "GmarketSansMedium", sans-serif; /* 버튼 폰트 변경 */
}

.custom-button:hover {
    background-color: #059669; /* Tailwind's green-700 */
}

/* Gmarket Sans Title 폰트 적용 */
.font-gmarket-title {
    font-family: "GmarketSansBold", sans-serif;
    font-weight: 300; /* 300으로 설정 */
}

/* Gmarket Sans 폰트 적용 */
.font-gmarket {
    font-family: "GmarketSansMedium", sans-serif;
    font-weight: 300; /* 300으로 설정 */
}

/* Noto Sans KR 폰트 적용 */
.font-noto {
    font-family: "Noto Sans KR", sans-serif;
}

/* Paperlogy Bold 폰트 적용 */
.font-paperlogy-bold {
    font-family: "Paperlogy-7Bold", sans-serif;
}

/* Paperlogy Medium 폰트 적용 */
.font-paperlogy-medium {
    font-family: "Paperlogy-5Medium", sans-serif;
}

/* 고정 헤더 애니메이션 */
.fixed-header {
    transition:
        transform 0.3s ease,
        opacity 0.3s ease;
}

.fixed-header.hidden {
    transform: translateY(-100%);
    opacity: 0;
}

.fixed-header.visible {
    transform: translateY(0);
    opacity: 1;
}

/* 타임라인 컨테이너 */
.page-content {
    background-color: #ffffff; /* 타임라인 컨테이너 배경 */
    padding: 2rem;
    border-radius: 8px;
    margin: 0 auto;
}

/* Top 버튼 위치 */
.top-button {
    bottom: 70px; /* Top 버튼은 아래쪽으로 내려서 배치 */
}

/* Bottom 버튼 위치 */
.bottom-button {
    bottom: 20px; /* Bottom 버튼은 위에서 50px 더 내려서 배치 */
}

/* 버튼 스타일 */
.scroll-button {
    position: fixed;
    right: 20px;
    padding: 12px 20px;
    background-color: #727272; /* 버튼 색상 */
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
}

.scroll-button:hover {
    background-color: #3182ce; /* 버튼 호버 색상 */
}

/* 웹사이트 설명 박스 고정 가로폭 800px */
.description-box {
    width: 800px; /* 800px 고정 */
    margin: 0 auto; /* 가운데 정렬 */
}

/* 웹사이트 설명 텍스트 양쪽 정렬 */
.site-description {
    text-align: center;
}

/* 웹사이트 설명 숨기기 */
.hidden {
    display: none;
}

/* 설명 박스 숨김 상태 */
.hidden-description {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

/* 설명 박스 표시 상태 */
.visible-description {
    max-height: 500px; /* 충분히 큰 값으로 설정 */
    overflow: hidden;
    transition: max-height 0.3s ease-in;
}

/* '더 알아보기' 버튼 */
.inline-flex {
    border: 1px solid #00ada7; /* 테두리 색상 */
    padding: 8px 15px;
    border-radius: 20px;
    background-color: transparent;
    color: #00ada7;
    font-weight: 500;
    transition: all 0.3s ease;
}

.inline-flex:hover {
    background-color: #00ada7;
    color: white;
}

/* 페이지 내용 스타일 */
.page-content {
    margin-top: 80px; /* 상단 고정 바를 가리지 않도록 공간 확보 */
}

/* 상단 고정 제목 바 스타일 */
.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7); /* 불투명한 배경 */
    backdrop-filter: blur(10px); /* 배경 흐림 효과 */
    z-index: 1001; /* sticky-header가 progress-bar보다 위에 오도록 설정 */
    display: none; /* 웹사이트 제목이 사라진 뒤 나타나게 설정 */
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

.sticky-header.visible {
    display: flex; /* 스크롤 시 나타나도록 설정 */
}

/* Progress bar 배경색 설정 */
.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.1); /* 연한 회색 배경 */
    z-index: 1000; /* progress bar가 sticky header 아래로 배치 */
    cursor: pointer;
}

.progress-bar-fill {
    height: 100%;
    background-color: rgba(228, 228, 228, 0.3); /* 30% 투명도를 적용한 색상 */
    width: 0%; /* 초기값 */
    transition: width 0.3s ease-out; /* 부드러운 애니메이션 */
}

/* 웹사이트 설명 박스 고정 가로폭 및 반응형 설정 */
.description-box {
    width: 100%; /* 화면 너비에 맞춰 자동 조정 */
    max-width: 800px; /* 최대 너비를 800px로 설정 */
    margin: 0 auto; /* 가운데 정렬 */
}
